[user]
	name = Ting-Yu Lin
	email = aethanyc@gmail.com
[core]
	editor = emacs
	whitespace = cr-at-eol,tab-in-indent
[color]
	ui = true
[i18n]
	filesEncoding = utf-8
[branch]
	autosetuprebase = always
[alias]
	co = checkout
[push]
	default = simple
[magit]
	extension = wip-save
