[user]
	name = Ting-Yu Lin
	email = aethanyc@gmail.com
[core]
	whitespace = cr-at-eol,tab-in-indent
	commentChar = ";"
[color]
	ui = true
[i18n]
	filesEncoding = utf-8
[branch]
	autosetuprebase = always
[alias]
	co = checkout
	br = branch
[push]
	default = current
[magit]
	extension = wip-save
[merge]
	tool = emerge
[mergetool "emerge"]
	cmd = emacs --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"
[mergetool]
	prompt = false
[diff]
	tool = ediff
[difftool "ediff"]
	cmd = emacs --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"
[difftool]
	prompt = false
[fetch]
	prune = true
[cinnabar]
	helper = ~/.mozbuild/git-cinnabar/git-cinnabar-helper
	version-check = 1583260546
[pull]
	rebase = true
